<footer id="mh-footer" class="footer clearfix">
        
        <nav class="social-nav clearfix">
          <div class="menu-social-container">
            <ul id="menu-social" class="menu">
              <li id="menu-item-95" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-95">
                <a target="_blank" href="https://www.facebook.com/MHthemes">
                  <span class="social-icon">
                    <i class="fa fa-mh-social">
                    </i>
                  </span>
                  <span class="screen-reader-text">
                    Facebook
                  </span>
                </a>
              </li>
              <li id="menu-item-96" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-96">
                <a target="_blank" href="https://twitter.com/MHthemes">
                  <span class="social-icon">
                    <i class="fa fa-mh-social">
                    </i>
                  </span>
                  <span class="screen-reader-text">
                    Twitter
                  </span>
                </a>
              </li>
              <li id="menu-item-97" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-97">
                <a target="_blank" href="https://plus.google.com/+Mhthemes/">
                  <span class="social-icon">
                    <i class="fa fa-mh-social">
                    </i>
                  </span>
                  <span class="screen-reader-text">
                    Google+
                  </span>
                </a>
              </li>
              <li id="menu-item-98" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-98">
                <a target="_blank" href="https://www.youtube.com/user/MHthemesEN">
                  <span class="social-icon">
                    <i class="fa fa-mh-social">
                    </i>
                  </span>
                  <span class="screen-reader-text">
                    YouTube
                  </span>
                </a>
              </li>
            </ul>
          </div>
          
        </nav>
        <div class="copyright-wrap">
          <p class="copyright">
            Copyright &copy; 2015 | MH Cicero by 
            <a href="http://www.mhthemes.com/" title="Premium WordPress Themes" rel="nofollow">
              MH Themes
            </a>
          </p>
        </div>
        
      </footer>