      <header class="header-wrap clearfix">
        <div class="logo" role="banner">
          
          <a href="http://demo.mh-themes.com/cicero/" title="Cicero" rel="home">
            <div class="logo-text">
              <h1 class="logo-name">
                Cicero
              </h1>
            </div>
            
          </a>
        </div>
        
        <nav class="main-nav clearfix">
          <div class="menu-navigation-container">
            <ul id="menu-navigation" class="menu">
              <li id="menu-item-7" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-7">
                <a href="http://demo.mh-themes.com/cicero/">
                  Home
                </a>
              </li>
              <li id="menu-item-8" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-8">
                <a target="_blank" href="http://www.mhthemes.com/themes/mh/cicero/">
                  Features
                </a>
              </li>
              <li id="menu-item-9" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-9">
                <a target="_blank" href="http://www.mhthemes.com/themes/mh/cicero/">
                  Purchase
                </a>
              </li>
              <li id="menu-item-10" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-10">
                <a href="#">
                  Templates
                </a>
                <ul class="sub-menu">
                  <li id="menu-item-118" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-118">
                    <a href="http://demo.mh-themes.com/cicero/default-page/">
                      Default Page
                    </a>
                  </li>
                  <li id="menu-item-117" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-117">
                    <a href="http://demo.mh-themes.com/cicero/full-width-page/">
                      Full-Width Page
                    </a>
                  </li>
                  <li id="menu-item-120" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-120">
                    <a href="http://demo.mh-themes.com/cicero/contact/">
                      Contact Page
                    </a>
                  </li>
                  <li id="menu-item-94" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-94">
                    <a href="http://demo.mh-themes.com/cicero/sitemap/">
                      HTML Sitemap
                    </a>
                  </li>
                </ul>
              </li>
              <li id="menu-item-119" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-119">
                <a href="http://demo.mh-themes.com/cicero/contact/">
                  Contact
                </a>
              </li>
            </ul>
          </div>
          
        </nav>
        
      </header>